body {
  background-color: $bg-color;
}

.table__header {
  width: 100%;
  @include font($font, $table-header-color, 400, 18px);
}

.table {
  max-width: 640px;
  margin: 20px auto;

  .table__body {
    width: 100%;
    max-height: 314px;
    overflow-y: scroll;
    overflow-x: visible;
    @include font($font, $table-body-color, 400, 14px);
    .table__row {
      height: 40px;
      border-bottom: 1px solid $table-body-row-color;
      background-color: $table-body-bg-color;
      @include transition(all,2s,ease);
      &.click {
        .table__column--delete {
          background-color: $table-hover-bg-color;
          .delete-icon {
            margin-right: 20px;
            background-image: none;
          }
        }
      }
      &.hover {
        .table__column--delete {
          background-color: $delete-bg-color;
          .delete-icon {
            margin-right: 20px;
            background-image: url("../assets/icons/delete-white.png");
          }
          .delete-description {
            display: block;
            padding-left: 3px;
          }
        }
      }
      &.hover, &.click {
        background-color: $table-hover-bg-color;
        padding: 0;
        margin-left: 0;
        .table__column--delete {
          @include font($font, white, 500, 14px);
        }
      }
    }
  }
}

.table__row, .confirm, .table__row--border {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include margin(null, 12px, null, 12px);
  @include padding(null, 15px, null, 15px);
}

.table__row--border {
  height: 4px;
  background-color: $table-body-bg-color;
  @include border-radius(4px, 4px, null, null);
  margin-bottom: 2px;
  margin-top: 15px;
  &:last-of-type {
    @include border-radius(null, null, 4px, 4px);
    margin-top: 2px;
    margin-bottom: 0;
  }
}

.table__column {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 15px;
  &.table__column--delete {
    @include transition(all,2s,ease);
    cursor: pointer;
    justify-content: flex-end;
    @include font($font, $table-body-color, 500, 14px);
    .delete-description {
      display: none;
    }
    .delete-icon {
      width: 15px;
      height: 19px;
      margin-right: 8px;
      margin-left: 8px;
      @include background-center;
      background-image: url("../assets/icons/delete-red.png");
    }
  }
}

.confirm {
  border-bottom: 1px solid $table-body-row-color;
  background-color: $table-body-bg-color;
  height: 40px;
  align-items: flex-start;
  justify-content: center;
  @include font($font, $table-body-color, 400, 12px);
  .centered {
    display: flex;
    height: 30px;
    width: 100%;
  }
  .table__column {
    margin: 1px;
    background-color: $table-body-row-confirm-color;
  }
  .confirm__message {
    @include border-radius(null, null, null, 4px);
  }
  .confirm__button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
  }
  .confirm__button--yes {
    background-color: $confirm-color;
    @include border-radius(null, null, 4px, null);
  }
}

.confirm--last {
  align-items: flex-end;
  .confirm__message {
    @include border-radius(4px, null, null, 0);
  }
  .confirm__button--yes {
    background-color: $confirm-color;
    @include border-radius(null, 4px, 0, null);
  }
}

@media screen and (min-width: $med) {
  .table__column {
    flex: 1;
  }
  ._4 {
    flex: 4;
  }
  ._6 {
    flex: 6;
  }
  ._8 {
    flex: 8;
  }
  ._18 {
    flex: 18;
  }
  ._24 {
    flex: 24;
  }
}
