//Colors
$bg-color: #233040;
$table-header-color: #7DA4CD;
$table-hover-bg-color: #3F5A76;
$table-body-color: #DDDDDD;
$table-body-bg-color: #192533;
$delete-bg-color: rgb( 244, 59, 59 );
$table-body-row-color: #111D29;
$table-body-row-confirm-color: #2D4053;
$confirm-color: #367237;

//Fonts
$font: 'Rubik', sans-serif;

//Sizing
$cols: 24;

//Breakpoints
$small: 500px;
$med: 800px;