//Colors
$bg-color: #233040;
$table-header-color: #526980;
$table-hover-bg-color: #3F5A76;
$table-body-color: #8E9AA8;
$table-body-bg-color: #192533;
$delete-bg-color: rgb( 244, 59, 59 );
$table-body-row-color: #111D29;

//Fonts
$font: 'Rubik', sans-serif;

//Sixing
$cols: 24;

//Breakpoints
$med: 800px;